.main-container{
    margin-top: 10px;
    padding-bottom: 15px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.filter-row {
    background-color: white;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 0.3em;
}

.sport-filter{
    /* background-color: #bdc3c7; */
    color: black;
}

.menu-col.col-2{
    padding: 0px;
}

.sport-filter.container{
    padding-right: 1.5em;
    min-height: 100%;
}



